[submodule "themes/etch"]
	path = themes/etch
	url = https://github.com/LukasJoswiak/etch.git
[submodule "themes/salinger"]
	path = themes/salinger
	url = https://github.com/jacksalici/salinger-theme.git
